<%- include('header') -%>

<form action="/mailScreen" id="mail-form" method="post">
	
	<ul id="rec-list">
		<input class="recieverList" name="receiverEmail" placeholder="To:" type="email">	
	</ul>
	
	<input name="subject" id="sender-id" placeholder="Sub:" type="text">
	<input type="button" name="" id="add-recepients" value="+"></input>
	<input name="text" id="email-text" placeholder="Enter your message..." type="text">
	<select name="interval" id="email-interval">
		<option value="once">Once</option>
		<option value="every-second">Every second</option>
		<option value="every-minute">Every minute</option>
		<option value="every-day">Every day</option>
		<option value="every-week">Every week</option>
	</select>
	<input name="scheduleStartTime" type="datetime-local" id="schedule-start-time">
	<button id="subimt-button" type="submit">Send</button>
</form>

<script>

	var recList = document.getElementById('rec-list');
	var add = document.getElementById('add-recepients');

	function createEmailInput(){
		var input = document.createElement('input');
		input.name = 'receiverEmail';
		input.placeholder = 'To:';
		input.type = 'email';
		recList.appendChild(input);
	}

	add.onclick = function(e){
		e.preventDefault();
		createEmailInput();
	}

</script>	

<%- include('footer') -%>