<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="css/mail.css">
	<script type="text/javascript" src='tinymce/js/tinymce/tinymce.min.js'></script>
	<script>
		tinymce.init({
			selector:'#email-text',
		});
	</script>
	<title>Mail Screen</title>
</head>

<body class="a" style= "width: 100%; height: 100%;">
	<div class="modal-wrapper">
		<div style="width: 80%; margin-left: 10%;">
			<div class="modal-content">
				<div class="modal-header bg-blue">
					<h4 style="margin-left: 0;" class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
					<button style="font-size: 15px;" class="btn btn-secondary" type="button" id="close-button" data-dismiss="modal" aria-hidden="true">x</button>
				</div>
				<form id="mail-form">
					<div class="modal-body">
						<div class="form-group">
							<input name="senderEmail" id="sender-id" type="email" class="form-control" placeholder="* Your Gmail Id:" required>
						</div>
						<div class="form-group">
							<input name="senderPass" id="sender-pass" type="password" class="form-control" placeholder="* Your Gmail Password:" required>
							<small style="font-size: 12px;" id="passwordHelpBlock" class="form-text text-muted">
								<span style="color: red;">*</span> This password is not stored anywhere and is used to send one mail only.
							</small>
						</div>
						<div class="form-group">
							<input name="receiverEmail" id="receiver-id" type="email" class="form-control" placeholder="* To:" required>
						</div>
						<div class="form-group">
							<ul id="rec-list" style="padding-left: 0; margin: 0;">
								<input name="ccEmail" id="cc-id" type="email" class="form-control" placeholder="CC:">
							</ul>
						</div>
						<button id="add" class="btn btn-secondary">+</button>
						<div class="form-group">
							<input name="subject" id="subject" type="text" class="form-control" placeholder="Subject:" autocomplete="off">
						</div>
						<div class="form-group">
							<textarea name="text" id="email-text" class="form-control" placeholder="Enter your message...." style="height: 120px;"></textarea>
						</div>
						<div class="form-group" style="font-size: 10px">
							<input type="file" name="attachments" id="attachments" multiple>
							<!-- <a href="#" id="file-select">Upload Attachments</a> -->
						</div>
						<div class="row">
							<div class="col form-group">
								<select class="form-control" name="interval" id="email-interval">
									<option selected value="once">Once</option>
									<option value="every-minute">Every 30s</option>
									<option value="every-week">Every week</option>
									<option value="every-month">Every month</option>
									<option value="every-year">Every year</option>
								</select>
							</div>
							<div class="col form-group">
								<input class="form-control" name="scheduleStartTime" type="datetime-local" id="schedule-start-time" required>
							</div>
						</div>
						<small style="font-size: 12px;" class="form-text text-muted">Specify below, span for which messages should be sent:
						</small>
						<div class="row">
							<div class="col form-group">
								<input id="time-number" class="form-control" name="timenumber" type="number" onkeypress="return event.charCode >= 48" min="0" placeholder="0">
							</div>
							<div class="col form-group">
								<select class="form-control form-control-sm" name="timeunit" id="time-unit">
									<option selected value="minute">minutes</option>
									<option value="day">days</option>
									<option value="month">months</option>
									<option value="year">years</option>
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" id="submit-button" class="btn btn-primary pull-right" value="Send"><i class="fa fa-envelope"></i></input>
					</div>
				</form>
			</div>
		</div>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>

	var recList = document.getElementById('rec-list');
	var add = document.getElementById('add');
	var close = document.getElementById('close-button');
	var start = document.getElementById('schedule-start-time');

	function createEmailInput(){
		var input = document.createElement('input');
		input.name = 'ccEmail';
		input.placeholder = 'CC:';
		input.type = 'email';
		input.id ='cc-id';
		input.className = 'form-control';
		input.autocomplete = 'off';
		recList.appendChild(input);
	}

	add.onclick = function(e){
		e.preventDefault();
		createEmailInput();
	}

	close.onclick = function(e){
		e.preventDefault();
		window.location.pathname = ('/');
	}

	var curr = new Date();
	var date = curr.getDate() < 10 ? '0' + curr.getDate() : ''+curr.getDate();
	curr.setMonth(curr.getMonth()+1);
	var month = curr.getMonth()+1 < 10 ? '0' + curr.getMonth() : curr.getMonth();
	var year = curr.getFullYear();
	var hour = curr.getHours() < 10 ? '0' + curr.getHours() : curr.getHours();
	var minute = curr.getMinutes() < 10 ? '0' + curr.getMinutes() : curr.getMinutes();

	var htmlDate = year + '-' + month + '-' + date + 'T' + hour + ':' + minute;
	start.value = htmlDate;

</script>

<script>
		//add attachments
		var submit = document.getElementById('submit-button');
		var attachmentList = document.getElementById('attachments');
		var mailForm = document.getElementById('mail-form');

		submit.onclick = function (e) {
			e.preventDefault()
			var formdata = new FormData(mailForm);
			var list = formdata.getAll('attachments')
			var toSend = {};
			var baseUrlList = [];
			console.log(list);
			console.log(formdata);
			if(list.length == 0){
				callback();
				return;
			} 

			list.forEach(function (file) {
				var reader = new FileReader();
				reader.readAsDataURL(file)
				reader.onload = function() {
					baseUrlList.push({path: reader.result})
					if(baseUrlList.length === list.length){
						callback();
					}
				}
			})

			function callback(){
				toSend['baseUrlList'] = baseUrlList;
				for(let pair of formdata.entries()){
					if(pair[0].localeCompare('someFile')!=0) toSend[pair[0]] = pair[1];
				}
				console.log(toSend);
				xhr = new XMLHttpRequest()
				xhr.open("POST", '/mailScreen', true)
				xhr.setRequestHeader('Content-Type', 'application/json')
				xhr.send(JSON.stringify(toSend))
			}


		}
	</script>


</body>
</html>